include ../includes/header
    include ../includes/banner
    #wrapper
        .whats-new-banner
            h1= 'Classes'
        .horizontal-separator
        #versionsList
            for version in versions
                if version == currentVersion
                    a(href='/classes/'+version)#version.selectedVersion= 'v'+version
                else
                    a(href='/classes/'+version)#version= 'v'+version
        .sorts
            span#orderByTags.order Tags
            span#orderByAlpha.order A - Z
        #alphaFilter.hidden
            input(type='text' placeholder='Filter class name')
        #classes_classesListByAlpha.hidden
            //TODO Add switch layout buttons
            for className in classesByAlpha
                a(href!='./'+currentVersion+'/'+className data-name=className class="classLink")= className.replace('_T_','<T>')
        #tagFilter.hidden
            input(type='text' placeholder='Filter tag name')
        //List the classes categories
        #classes_classesListByTag.hidden
            each bClasses, category in classesByTags
                div(id=category data-name=category).category
                    div.categoryTitle
                        h3= category
                    div.categoryList
                        //List the classes of a category
                        each bClass in bClasses
                            li
                                a(href='./'+currentVersion+'/'+bClass)= bClass
    include ../includes/footer

    script(src="/js/classes.js")