include ../includes/header
    include ../includes/banner
    .classBar
        .classesTitle CLASSES
        .sorts
            span#orderByTags.order Tags
            span#orderByAlpha.order.selectedOrder A - Z
        #tagFilter.hidden
            input(type='text' placeholder='Filter tag name')
        #classes_classesListByTag.sidemenu.hidden
            each bClasses, category in classListByTag
                div(id=category data-name=category).category
                    div.categoryTitle
                        h3= category
                    div.categoryList
                        //List the classes of a category
                        each bClass in bClasses
                            li
                                a(href='/classes/'+currentVersion+'/'+bClass).className= bClass
        #alphaFilter.hidden
            input(type='text' placeholder='Filter class name')
        #classes_classesListByAlpha.sideClassesListByAlpha.hidden
            for className in classListByAlpha
                a.classLink(href='./'+className data-name=className )= className.replace('_T_','<T>')

    // Element to resize the sidebar
    .classBarResize#resizeBar(draggable=true)

    // Content of the selected class
    .classContent
        #classTitle
            h1= className.replace('_T_','<T>')
            #selectList
                select#methodsList
                    //for tocElement in toc
                    //    if(tocElement.depth === "")
                    //        option(value=tocElement.url, class="cat")= tocElement.heading
                    //    else
                    //        option(value=tocElement.url)= tocElement.heading
        if(classTags)
            #classTags
                each tag in classTags
                    a(href='/classes/'+currentVersion, id=tag).classTag= tag
        #classMd!= content

    // The content wrapper
    #wrapper


    include ../includes/footer

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.3/js/min/perfect-scrollbar.jquery.min.js')
    script(src='/js/classes.js')
    script(src="/js/class.js")
