<!DOCTYPE html>
<html style="height:100%;" class="default">

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="wcRjktXhF6DAjmhneKS7UatweBIkEF6QfqsNhAYbUgg">
    <title>{{model.name}} - Babylon.js Documentation</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://use.typekit.net/cta4xsb.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="/css/libs/slideout.css">
    <link rel="stylesheet" href="/css/libs/highlight/github.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.3/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
</head>

<body>
    <nav id="menu"></nav>
    <nav class="nav-main" style="position:inherit;">
        <!-- Hamburger menu : displayed only in small screens-->
        <i class="fa fa-bars" id="mobilemenu"></i>
        <div class="banner">
            <div class="menu">
                <div class="do-not-hover" id="home">
                    <a href="/">HOME</a>
                </div>
                <div class="item" id="whatsnew">
                    <a href="/whats-new">What's new</a>
                </div>
                <div class="item" id="feature">
                    <a href="/babylon101">Babylon 101 </a>
                </div>
                <div class="item" id="feature">
                    <a href="/examples">Examples </a>
                </div>
                <div class="item" id="How_To">
                    <a href="/How_To">How To...</a>
                </div>
                <div class="item active" id="feature">
                    <a href="/features">Features</a>
                </div>
                <div class="item" id="resources">
                    <a href="/resources">Resources</a>
                </div>
                <div class="item" id="extensions">
                    <a href="/extensions">Extensions</a>
                </div>
                <div class="item" id="snippets">
                    <a href="/snippets">Snippets </a>
                </div>
                <div class="item" id="classes">
                    <a href="/api">API</a>
                </div>
                <div class="item" id="playground">
                    <a href="/playground">Playground</a>
                </div>
            </div>
            <div class="more">
                <div class="searchbar">
                    <form method="get" action="/search">
                        <input type="text" name="bjsq" placeholder="Search...">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div id="wrapper">
        {{> header}}
        <div class="container container-main">
            <div class="row">
                <div class="col-8 col-content">
                    {{{contents}}}
                </div>
                <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
                    <nav class="tsd-navigation primary">
                        <ul>
                            {{#each navigation.children}} {{> navigation}} {{/each}}
                        </ul>
                    </nav>

                    <nav class="tsd-navigation secondary menu-sticky">
                        <ul class="before-current">
                            {{#each toc.children}} {{> toc.root}} {{/each}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        {{> footer}}

    </div>

    <div class="overlay"></div>
    <script src="{{relativeURL "assets/js/main.js"}}"></script>
    <script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.js"}}"><' + '/script>');</script>
    {{> analytics}}


    <footer class="footer" style="font-family:Roboto; border-top:0px">
        <div class="footer-item">
            <a href="https://www.babylonjs.com" target="_blank">
                <i class="fa fa-home"></i> Babylonjs.com</a>
        </div>
        <div class="footer-item">
            <a href="https://forum.babylonjs.com" target="_blank">
                <i class="fa fa-html5"></i> Forum</a>
        </div>
        <div class="footer-item">
            <a href="https://github.com/BabylonJS/Babylon.js" target="_blank">
                <i class="fa fa-github"></i> Github</a>
        </div>
        <div class="footer-item">
            <a href="https://github.com/BabylonJS/Documentation" target="_blank">
                <i class="fa fa-code-fork"></i> Contribute </a>
        </div>
        <div class="footer-item">
            <a href="https://www.netlify.com" target="_blank">
                <i class="fa fa-heart"></i> Deployed by netlify </a>
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.9/slideout.min.js"></script>
    <script src="/js/index.js"></script>
    <script>(function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            };
            i[r].l = 1 * new Date();
            a = s.createElement(o);
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-66146410-1', 'auto');
        ga('send', 'pageview');</script>
    <!-- HIGHLIGHT JS-->
    <script src="/js/static.js"></script>
    <script>$('code').each(function() {
            $(this).text($(this).text().replace(/&nbsp;/gi, ''));
        });
        hljs.initHighlightingOnLoad();</script>
</body>

</html>